a {
  text-decoration: none;
}
.title__bar {
  position: relative;
}

.header__title {
  font-size: 8vw;
  font-family: "Bree Serif", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
}

.menu_button {
  width: 50px;
  height: 50px;
  border: 1px solid grey;
  position: absolute;
  left: 10px;
  top: 8px;
}

.screen__body {
  display: flex;
  width: 100%;
}

.nav__list {
  background-color: aqua;
  width: 15%;
  height: 100vh;
}

.nav__item {
  font-size: 4vw;
  display: flex;
  justify-content: center;
}

.nav__links {
  margin-bottom: 10px;
}
.screen {
  margin-left: 2%;
  width: 100%;
  background-color: red;
}

.login__bar{
  float: right;
}