body {
  background-color: none;
  height: 10000px;
}
.nav__bar {
  position: fixed;
}

.nav__developers-btn {
  border: none;
  outline: 0;
  border: 0;
  background-color: red;
  font-size: 16px;
}
