@keyframes side__menu-ani {
  from {
    opacity: 0;
    left: -15%;
  }

  to {
    opacity: 1;
    left: 0%;
  }
}
.side_menu {
  position: absolute;
  animation: side__menu-ani 1s ease-in;
  width: 15%;
}
