@import url("https://fonts.googleapis.com/css?family=Sunflower:300,700&display=swap&subset=korean");
/* 쓸려면 font-family: 'Sunflower', sans-serif; */
@import url("https://fonts.googleapis.com/css?family=Nanum+Pen+Script&display=swap");
/*font-family: 'Nanum Pen Script', cursive;*/
body {
  background-color: black;
}

.top__nav {
  width: 100%;
  font-size: 5vw;
  margin-bottom: 30px;
  border-bottom: 1px solid grey;
  animation: 1s fade-in ease-in;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.top__nav-list {
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.back__icon {
  margin-right: 30px;
}

.first__title {
  font-size: 9vw;
  color: white;
}
